* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Pixeloid";
    src: url(./assets/fonts/PixeloidSans-nR3g1.ttf);
}

html {
    height: 100%;
}

body {
    background: black;
    text-align: center;
    font-family: 'Pixeloid';
    font-size: 2em;
    position: relative;
    color: green;
}

canvas {
    display: block;
    position: absolute;
    margin: auto;
    top: 120;
    bottom: 0;
    right: 0;
    left: 0;
    border-style: solid;
}